<!DOCTYPE html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %} {% seo %}

    <script
      src="https://kit.fontawesome.com/35f34fbec9.js"
      crossorigin="anonymous"
    ></script>
  </head>
  {%- assign body_styles = "min-h-screen overflow-x-hidden text-gray-700
  bg-gray-300 font-sans flex flex-col justify-center " %}
  <body class="{{ page.layout }} {{ page.page_class }} {{ body_styles }}">
    <div style="min-height: calc(100vh - 5rem);" class="relative">
      {{ content }}
    </div>
    {% render "footer", metadata: site.metadata, info: site.data.info %}
  </body>
</html>
