/* Uses the color-mod-function postcss plugin */
.bg-primary-t20-a50 {
  background: color-mod(theme('colors.primary') tint(20%) a(50%));
}

.bg-primary-a90 {
  background: color-mod(theme('colors.primary') a(90%));
}

.bg-primary-shade20-a90 {
  background: color-mod(theme('colors.primary') shade(20%) a(90%));
}

.bg-primary-tint5 {
  background: color-mod(theme('colors.primary') tint(5%));
}

.bg-primary-shade50 {
  background: color-mod(theme('colors.primary') shade(50%));
}
