.ease-out {
  /* <property>  <duration> <timing-func> <delay>*/
  transition: all 0.5s ease-out;
}
.link {
  @apply p-2;
}

.link:hover {
  @apply text-secondary ease-out;
}

#bg-img {
  background: url('./img/background.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.btn-line {
  @apply w-8 h-tiny bg-white mb-2 ease-out;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-45-trans-7-8 {
  transform: rotate(45deg) translate(7px, 8px);
}

.rotate-neg-45-trans-7-neg8 {
  transform: rotate(-45deg) translate(7px, -8px);
}

.rotate-menu {
  @apply rotate-180;
}
.rotate-menu div:nth-child(1) {
  @apply rotate-45-trans-7-8;
}
.rotate-menu div:nth-child(2) {
  @apply opacity-0;
}
.rotate-menu div:nth-child(3) {
  @apply rotate-neg-45-trans-7-neg8;
}
