.rotate-180 {
  transform: rotate(180deg);
}

.rotate-45-trans-7-8 {
  transform: rotate(45deg) translate(7px, 8px);
}

.rotate-neg-45-trans-7-neg8 {
  transform: rotate(-45deg) translate(7px, -8px);
}

.translate3d-0-neg100-0 {
  transform: translate3d(0, -100%, 0);
}

.translate3d-0-0-0 {
  transform: translate3d(0, 0, 0);
}

