@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-bold;
  @apply text-left;
}

h3, h4, h5, h6 {
  @apply text-left;
  @apply text-lg font-bold;
}

h1,
nav,
footer {
  @apply text-center;
}

main {
  min-width: 300px;
  max-width: 800px;
}

a {
  @apply inline-block text-indigo-600 border-b-2 border-solid border-transparent;
  @apply transition duration-500 ease-in-out;
}

a:hover,
a:focus {
  @apply border-indigo-600 outline-none;
}
