<footer class="w-screen h-12 py-4 mt-4 bg-gray-400">
  Built with
  <a class="font-bold text-indigo-600" href="https://bridgetownrb.com">Bridgetown</a>
  | <span class="">&copy; {{ "today" | date: "%Y" }}</span>

  <a href="{{ info.twitter }}" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i></a>
  <a href="{{ info.twitter }}" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i></a>
  <a href="{{ info.twitter }}" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i></a>
</footer>

