<div data-controller="nav-button">
  <button data-action="nav-button#toggle"
          class="fixed bottom-0 right-0 z-20 w-16 h-16 mx-6 my-8 bg-gray-900 rounded-full opacity-75 sm:hidden">
    <i data-target="nav-button.iconShow" class="text-4xl text-green-300 fas fa-sort"></i>
    <div data-target="nav-button.iconHide" class="hidden text-2xl font-bold text-green-300">X</div>
  </button>
  <div class="fixed top-0 z-10 items-center justify-center hidden w-screen h-screen bg-gray-300 sm:hidden" data-target="nav-button.content">
    <div data-target="nav-button.content nav-button.links"
         class="flex flex-col items-center justify-center hidden w-3/4 mx-auto bg-gray-200 shadow-lg rounded-md h-1/2 sm:hidden">
    {% render "nav_items", class_name: "focus:border-transparent hover:border-transparent hover:bg-gray-400 focus:bg-gray-400 w-full text-center border-b-2 font-bold text-gray-800 text-xl px-6 py-4" %}
    </div>
  </div>
</div>

