---
variables:
  home: [boolean, If its the home page or not]
---

{%- assign styles = "text-lg hidden sm:flex items-center justify-center " %}

{% if home == false %}
  {%- assign styles = styles | append: "hidden fixed w-screen bg-gray-700 shadow top-0 py-2" %}
{% endif %}

<nav data-controller="nav-bar" class="{{styles}}">
  {% if home %}
    {% render "home_nav" %}
  {% else %}
    {% render "page_nav" %}
  {% endif %}
</nav>
