<div data-controller="nav-button" class="relative">
  <button data-action="nav-button#toggle"
          class="fixed bottom-0 right-0 z-20 w-16 h-16 mx-6 my-8 bg-gray-900 border-4 border-transparent border-solid rounded-full outline-none focus:border-teal-400 hover:border-teal-400 sm:hidden "
          style="outline: 0;">
    <div data-rotation="0" data-target="nav-button.iconShow" class="relative opacity-100 transition duration-500 ease-in origin-center" style="top: 0.65rem;">
      <i class="text-4xl text-green-300 fas fa-sort"></i>
    </div>

    <div data-rotation="0" data-target="nav-button.iconHide" class="relative opacity-0 transition duration-500 ease-in origin-center" style="bottom: 1.35rem;">
      <i class="text-2xl font-bold text-green-300 fas fa-times"></i>
    </div>
  </button>

  <div class="fixed top-0 z-10 items-center justify-center hidden w-screen h-screen sm:hidden" data-target="nav-button.wrapper">
    <button class="w-screen h-screen bg-gray-600 opacity-75 shadow-inset" data-action="nav-button#toggle"></button>
    <div class="absolute flex flex-col justify-center bg-gray-300 shadow-2xl w-75 h-75 shadow-inset" data-target="nav-button.content">
      {% render "nav_items", class_name: "transition-none focus:border-transparent hover:border-transparent hover:bg-gray-400 hover:shadow focus:shadow focus:bg-gray-400 w-full text-center border-b-2 font-bold text-gray-700 text-xl px-6 py-4" %}
    </div>
  </div>
  </div>

