<div data-controller="nav-button">
  <button data-action="click->navButton#toggle"
          class="fixed bottom-0 right-0 z-10 w-16 h-16 mx-6 my-6 bg-gray-800 rounded-full md:hidden">
    <i data-target="nav-button.iconShow" class="text-4xl text-green-300 fas fa-sort"></i>
    <div data-target="nav-button.iconHide" class="hidden text-2xl font-bold text-green-300">X</div>
  </button>
  <div >
  </div>
</div>

